/ApplyAveragingFilter.class
/CountLetterFrequencies.class
/CreateGrayscale.class
/FlipVertical.class
/GymnasticsJudge.class
/IncrementOperatorExample.class
/ReverseArrayList.class
/ReverseIntArray.class
/YarnPattern.class
/isMagicSquare.class
