/Acronym.class
/IsEnglishVowel.class
/PigLatin.class
/isEnglishConsonant.class
/RandomWord.class
/CapitalizeWords.class
/CapitalizeWordsTest.class
/Capitalize.class
/PluralWords.class
/DateString.class
/DateStringTest.class
/MyIndexOf.class
/WordGame.class
/WordGameTest.class
/PresentParticiple.class
/OrdinalNumbers.class
/CaeserCipher.class
/AddCommas.class
/IsPalindrome.class
/SentencePalindrome.class
/TEMPPPPPPP.class
/TEMPPPPP_TWO.class
/MyReadInt.class
/NumberToWords.class
