/Average2Doubles.class
/CentimetersToFeetAndInches.class
/GRectPlusGOval.class
/InchesToCentimeters.class
/FeetAndInchesToCentimeters.class
/Interest.class
/AreaCircle.class
/FahrenheitToCelcius.class
/ThePhantomToolboothBook.class
/KilogramsToPoundsAndOunces.class
/AverageOfFourIntegers.class
/StIves.class
/TicTacToeBoard.class
/BuildHouse.class
